* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: rgb(75, 10, 118);
    color: white;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 46px;
}

header a:hover {
    color: #ccc;
}

.container-flex {
    display: flex;
}


header a {
    color: white;
    padding: 8px;
    text-decoration: none;
}

.sobre-loja img {
    max-width: 50%;
}

.sobre-loja .container {
    margin-left: 16px;
    
}

.sobre-loja h2 {
    margin-bottom: 8px;
    font-style: italic;
    color: rgb(75, 10, 118);
    font-weight: bold;
    font-size: 32px;
    border-bottom: 2px solid rgb(75, 10, 118);
    padding: 8px 0;
}

.produtos {
    margin-top: 54px;
}

.produtos h2 {
    font-style: italic;
    color: rgb(75, 10, 118);
    font-weight: bold;
    font-size: 32px;
    border-bottom: 2px solid rgb(75, 10, 118);
    padding: 8px 0;
}

.produtos .container{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

.produtos img {
    max-width: 100%;
}

.tenis p{
    margin: 16px 0 8px 0;
}

button {
    width: 100%;
    padding: 8px;
    border: none;
    background-color: rgb(75, 10, 118);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: rgb(60, 8, 94);
}

@media screen and (max-width: 639px) {
    .container {
        max-width: 90%;
    }

    .sobre-loja img {
        max-width: 100%;
    }
    
    .sobre-loja {
        display: block;
    }

    .produtos .container {
        display: block;
    }
}

@media screen and (max-width: 1023px) and (min-width: 640px) {
    .container {
        max-width: 90%;
    }

    .container h2 {
        font-size: 3em;
    }
        
    .sobre-loja p, p {
        font-size: 2em;
    }

    .sobre-loja img {
        max-width: 100%;
    }
    
    .sobre-loja {
        display: block;
    }

    .produtos .container {
        display: grid;
        grid-template-columns: repeat(2, 49.5%);
    }

    .produtos strong {
        font-size: 2em;
    }

    header a {
        font-size: 1.5em;
    }

    h1 {
        font-size: 3em;
    }

    button {
        height: 3m;
        font-size: 2em;
        padding: 15px;
    }
}